.section {
    background-color: rgb(102, 89, 114);
    height: 100vh;
    padding: 100px 0;
    .tabs {
        display: flex;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
        li {
            margin-right: 20px;
            .tabs-item {
                text-transform: capitalize;
                color: rgb(0, 204, 255);
                font-size: 18px;
            }
        }
        li:last-child{
            margin-right: 0;
        }
        li:last-child:after {
            content: '*';
            display: inline-block;
            color: coral;
        }
    }
}